<link rel="stylesheet" href="css/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


<div class="introduzione-temp">
    <nav class="main-nav">
        <a href="/"><h3 class="logo"><span class="span-logo">#sm</span>ile</h3></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#AboutMe">About Me</a></li>
            <li><a href="#SkillsInteressi">Skills e Interessi</a></li>                
            <li><a href="/posts">Posts</a></li>
            <li><a href="/contact-me">Contact Me</a></li>
        </ul>
        
        <%- include(btn_path); %>
    </nav>    
</div>

