<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<div>
    <div id="logout-btn">Logout </div>
</div>

<script>
    try{
        const logoutBtn = document.getElementById("logout-btn");

        logoutBtn.addEventListener("click", () => {
            const url = "/logout";

            const data  = {
                logout: true
            };

            const options = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            }

            fetch(url, options).then((res) => res.json()).then((data) => location.href = data.redirect_path);
        })
    }catch{
        console.log("Something went wrong, try again");
    }
</script>