<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


<div class="login-item" id="pswdDiv">
    <div class="login-label">Password</div>
    <input type="password" name="pswd" id="pswd">
    <div class="not-valid" id="pswdNT">
        <p>Password non valida</p>
    </div>    
</div>

<script>
    const pswdItem = document.getElementById("pswdDiv");
    const pswdInput = document.getElementById("pswd");
    
    pswdInput.addEventListener("focus", () => {
        pswdItem.classList.add("visited");
    });
</script>